.title-wrapper {
  margin: 0 12px 12px 12px;
  text-align: center;
}

.user-info-col {
  height: 100%;
}

.user-info {
  border: 1px solid var(--bs-white);
  background-color: black;
  color: var(--bs-white);
  padding-bottom: 10px;
  padding-top: 20px;
}

.display-npc-root .card {
  margin-bottom: 20px;
}

.display-npc-root {
  margin-top: 60px;
}
@include media-breakpoint-down(md) {
  // On small screens, no need to have such a big margin at the top
  .display-npc-root {
    margin-top: 1rem;
  }
}

.printing {
  display: none;
}

.printing .card {
  margin-bottom: 20px;
}

@media print {
  @page {
    size: 8.5in 11in;
    margin: 14mm;
  }
  .printing {
    display: block;
    .row {
      page-break-inside: avoid;
    }
    .card {
      height: calc(100% - 20px);
    }
    .col-print-6 {
      width: 50%;
    }
    .col-print-4 {
      width: 33%;
    }
    .first-row-height {
      min-height: unset !important;
    }
    .second-row-height {
      min-height: unset !important;
    }
    .ability-table {
      margin-left: 0px !important;
    }
    .ability-number {
      padding-right: 0px !important;
    }
  }
  .display-npc-root {
    display: none;
  }
}
